
.container{
    border:2px solid rgb(215, 6, 6);
    margin: 20px;
}
.row{
  padding: 10px;
}

input{
  width: 40px;
  height: 40px;
  font-size: 55px;
}
.col{
  display:block;
  margin: 0px 50px;
}
.count{
  text-align: center;
  justify-content: center;
}

.marksSide{ 
  margin-top: 20px;
}
#marks{
  margin: 20px;
  border: 2px solid rgb(215, 6, 6);
}
.score{
  margin-left:50px;
  font-size: 30px;
}

@media screen and (min-width: 600px) {
  .col{
    display: inline-block;
    margin: 10px 50px;
  }
  input{
    width: 50px;
    height: 50px;
    font-size: 55px;
  }
  #marks{
    margin: 20px;
    border: 2px solid rgb(13, 12, 12);
  }
}




 